@use '../../utils/colors.scss' as colors;
@use '../../utils/mediaqueries.scss' as *;
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: colors.$white;
  background-image: url('/assets/hero5/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // 🔽 Overlay za dimovanje
  &::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.4); // intenzitet dimovanja
    z-index: 1; // ispod .content (koji je z-index: 2)
  }
}
.content {
  z-index:2;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  color: colors.$white;
  font-family:'Oswald';
  margin: 0;
  @media #{$phone} {
    font-size:4rem;
    }
}


.button {
  background: colors.$red;
  color: colors.$white;
  text-decoration: none;
  border-radius:5px;
  padding: 0.8rem 1.5rem;
  font-family:'Oswald';
  font-weight:600;
  font-size: 1.5rem;
  transition: background 0.3s ease;
  border: none;        // uklanja default border
  outline: none;       // uklanja default outline

  &:hover {
    background: colors.$hover-red;
  }
}

