@use '../../utils/mediaqueries.scss' as *;
.card {
  display: flex;
  width:100%;
  align-items: center;
  gap: 0.5rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align:left;
   &:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-5px);

    h3 {
      background: linear-gradient(
        90deg,
        #d62828 0%,
        #000000 50%,
        #d62828 100%
      );
      background-size: 200% 100%;
      background-position: 200% 0;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: colorWaveText 2s linear infinite;
    }

      @media #{$phone} {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35); // malo jača senka
    margin-bottom:2rem;
    transform: none;
    transition: none;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35); // malo jača senka
      transform: none;

      h3 {
        background: none;
        color: #000;
        -webkit-background-clip: unset;
        -webkit-text-fill-color: unset;
        animation: none;
      }
    }

    h3 {
      background: none;
      color: #000;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      animation: none;
    }

    p {
      transition: none;
    }
  }
}


}

.image {
  width:80px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.mainTitle {
  font-size: 1.8rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: black;
}
// Animacija gradijenta za desktop
@keyframes colorWaveText {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


